body {
  font-family: 'Bungee Shade', cursive;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgb(6, 6, 6) 0%, rgba(222,150,52,1) 35%, rgba(255, 179, 0, 0.947) 100%);
}

h1 {
  text-align:center;
  font-size: 48px;
}

h2 {
  text-align:center;
  font-size: 36px;
}


h3 {
  text-align:center;
  font-size: 36px;
}

img {
  width: 175px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

button {
  all: unset;
  cursor: pointer;
}

.currenttext {
  display: block;
    height: 36px;
    line-height: 36px;
    font-size: 36px;
    text-align: center;
}

.begin {
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 25px
}

ul {
  display: grid;
  list-style-type: none;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

li {
  text-decoration: none;
  width: 200px;
  cursor: pointer;
}

li img:hover {
background-color: blueviolet;
}