body {
  font-family: 'Bungee Shade', cursive;
  /* background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(222,150,52,1) 35%, rgb(255, 225, 0) 100%); */
}

h1 {
  text-align:center;
  font-size: 64px;
}

h2 {
  text-align:center;
  font-size: 48px;
}


h3 {
  font-family: 'Roboto', sans-serif;
  text-align:center;
  font-size: 36px;
}

img {
  width: 200px;
  border-radius: 50%;
  /* max-height: 25%; */
  display: block;
  margin: 0 auto;
}

button {
  all: unset;
  cursor: pointer;
}

.currenttext {

  display: block;
    height: 36px;
    line-height: 36px;
    font-size: 36px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  
}
.begin {
  text-decoration: none;
  color: black;
  text-align: center;
}

ul {
  display: grid;
  list-style-type: none;
  /* width: 500px; */
  grid-template-columns: 20% 20% 20% 20% 20% ;
  /* flex-direction: row;
  justify-content: space-evenly;
   */
}

li {
  text-decoration: none;
  width: 200px;
  cursor: pointer;
}

li img:hover {
background-color: blueviolet;}